.input {
    display: flex;
    width: 100%;
    background-color:darkcyan;
}

.input__message {
    width: 100%;    
}

.inputDialog {
    position: absolute;
    bottom: 3rem;
}

.emojis {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}