@use '../../styles/App.module.scss' as gl;

.input {
    display: flex;
}

.input__message {
    width: 100%;    
}

.inputDialog {
    position: absolute;
    bottom: 3rem;
}

.emojis {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.sendActive {
    @include gl.my-btn(goldenrod, orange);
}