.app {
  background-color: #333;
  width: 100dvw;
  height: 100dvh;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.icon_mini {
  height: 1rem;
  width: 1rem;
}

button {
  background-color: #AAA;
  display: inline-block;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem; 
}

::-webkit-scrollbar-thumb {
  background-color: #909fbf; /* Цвет ползунка */
  border-radius: 10px; /* Скругление углов */
}

/* Стили для "ползунка" при наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет ползунка при наведении */
}

/* Стили для дорожки (track) */
::-webkit-scrollbar-track {
  background-color: #d3ddf4; /* Цвет фона скроллбара */
  border-radius: 10px; /* Скругление углов */
}

/* Стили для фона (track) при наведении */
::-webkit-scrollbar-track:hover {
  background-color: #ddd; /* Цвет фона при наведении */
}