.room {
    padding: 0.4rem;
    gap: 0.5rem;
    justify-content: end;
    width: 50rem;
    height: 40rem;
    background-color: cornflowerblue;
    overflow: auto;
    border: 0.2rem blue groove;
    border-radius: 0.2rem;
}