:root {
    --avatar-size: 1.5rem;
}

.userManager {
    display: flex;
}

.userPicker {
    color: white;
}

.userProfile {
    padding: 0.2rem;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px pink;
    border: 2px #aaa solid;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background-color: #666;
    color: white;

    @media (min-width: 480px) {
        font-size: 2rem;
    }
}

.userAvatar {
    border-radius: 0.5rem;
    border: 4px #aaa double;
    width: var(--avatar-size);
    height: var(--avatar-size);

    @media (min-width: 480px) {
        --avatar-size: 2rem;
        border-width: 6px;
    }
}

.resetBtn {
    background-color: red;

    &:hover {
        background-color: rgb(255, 61, 61);
    }
}