.roomPicker {
    display: flex;
}

.roomPickerScroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 0;
    margin-right: auto;
    gap: 0.1rem
}

.roomTab {
    width: 10rem;
    padding: 0.1rem;
    display: flex;
    background-color: #666;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;

    @media (min-width: 480px) {
        width: 13rem;
    }
}

.tab_name {
    flex: 4;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    color: purple;

    @media (min-width: 480px) {
        font-size: 1.5rem;
    }
}

.tab_delete {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.roomAddButton {
    border-radius: 0.4rem;
}